.jumbotron {
    background-image: url('../Images/drums-animated-gif-23.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.navbar-brand {
    padding: 0;
    width: 115px;
    height: 50px;
    background-image: url('../Images/logo1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

    .navbar-brand:hover {
        min-width: 115px;
        height: 50px;
        background-image: url('../Images/logo2.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

footer {
    background-color: #e6b357;
}

.row > .col-md-4 {
    border-left: 1px solid white;
    background-color: gainsboro;
}
