.jumbotron {
    background-image: url('../Images/drums-animated-gif-23.gif');
    -ms-background-size: 100% 100%;
    background-size: 100% 100%;
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
}

.h-user {
    background-image: url('../Images/Lombardo-drum-roll.gif');
    -ms-background-size: 100% 100%;
    background-size: 100% 100%;
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
}

.navbar-brand {
    padding: 0;
    width: 100px;
    height: 50px;
    background-image: url('../Images/logo1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

    .navbar-brand:hover {
        width: 100px;
        height: 50px;
        background-image: url('../Images/logo2.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

footer {
    background-color: #e6b357;
}

.row > .col-md-6, .col-lg-12, .col-md-4 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    border-left: 1px solid white;
    background-color: gainsboro;
}
