@import url("./font-awesome.min.css");
@import url("./CssModules/buttons.css");
@import url("./CssModules/backgrounds.css");
@import url("./CssModules/texts.css");
@import url("./CssModules/align.css");

/* Move down content because we have a fixed navbar that is 50px tall */
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    height: 550px;
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    height: 70px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt{ 
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
    .jumbotron {
        margin-top: 20px;
        position: relative;
        z-index: 1;
    }

    .body-content {
        padding: 0;
    }

    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }

        .row > [class*='col-'] {
            width: 100%;
            display: flex;
            -ms-flex-direction: column;
            -o-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
        }
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;
}

.navbar > .container .navbar-brand-centered,
.navbar > .container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.control-label {
    margin: 0 auto;
    text-align: center;
}
input {
    margin: 0 auto;
}